.container {
	background-color: white;
	/*height: 680px;
	width: 680px;*/
	
}

.block {
	background-color: blue;
	height: 5.75vh;
	width: 5.75vw;
	margin: 1px;
	display: inline-flex;
}

.entered {
	background-color: grey;
}

.button {
	text-align: center;
	height: 30px;
	width: 100%;
}